.fname {
  pointer-events: none;
}

.fname::before {
  display: inline-block;
  width: 14px;
  height: 14px;

  margin-right: 5px;

  content: "  ";
  background-image: url('../icons/open-black.png');
  background-size: 100% 100%;
  pointer-events: all;
}

.fname.is-collapsed::before {
  background-image: url('../icons/closed-black.png');
}

.nightMode .fname::before {
  background-image: url('../icons/open-white.png');
}

.night_mode .fname::before {
  background-image: url('../icons/open-white.png');
}

.nightMode .fname.is-collapsed::before {
  background-image: url('../icons/closed-white.png');
}

.night_mode .fname.is-collapsed::before {
  background-image: url('../icons/closed-white.png');
}
